* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#f6f8fc ;
}

.content{
        width: 100vw;
        height: 100vh;
        padding: 1rem;
        background-color: white;
        width: 100vh;
}

@media screen and (min-width: 380px) 
    { 
    .content {
        max-width: 380px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    
    }
    } 

@media screen and (min-width: 576px) 
    { 
    .content {
        max-width: 576px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    
    }
    } 

@media screen and (min-width: 992px) 
    { 
    .content {
        max-width: 992px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    
    }
    }   